.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.container{
  background-color: #f8f8f8;
  border-radius: 10px;

  height: auto;
}
.form-control:focus {
  box-shadow: none;
  border-color: #dfdfdf;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary:active {
  background-color: #0062cc;
  border-color: #005cbf;
}

