{% extends "index.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'retriev.css' %}">
{% endblock css %}

{% block content %}
  <div class="d-flex justify-content-center">
    <table class="table table-success">
        <thead>
            <tr>
              <th>no</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Pincode</th>
            <th>Messsage</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
            {% for i in details  %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.name}} </td> 
                <td>{{i.email}}</td> 
                <td>{{i.city}}</td> 
                <td>{{i.pincode}}</td> 
                <td>{{i.message}}</td> 
                <td>{{i.password}}</td> 
                <td ><a href="{% url 'edit' i.id  %}" class="btn btn-primary"> Edit</a></td>
                <td><a href="{% url 'delete' i.id  %}" class="btn btn-danger">Delete</a></td> 
               

            </tr>
            {% endfor %}
            
        </tbody>
        
        
    </table>
  </div>
{% endblock content %}